%div{id: "container"}

%script{id: 'temlplate', type: 'text/ractive'}
  %p Hello {{name}}!
  %button{"on-click" => 'sayHello'}
    Say Hello to JoJo.
    
%script{src: "javascript/Ractive.js"}
%script{src: "javascript/zepto.min.js"}

:javascript
  var sinatraRactive = new Ractive({
    el: 'container',
    template: '#temlplate',
    data: #{@tasks}[0]
  });
  
  sinatraRactive.on('sayHello', function(event){
    sinatraRactive.set('name', 'JoJo');
  })