!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Sinatra Ractive JSON-TEST
    %link{ rel: "stylesheet", href: "stylesheets/global.css"}
  %body
    %h1= "Sinatra-Ractive JSON TEST"
    = yield